<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public,no-cache, no-store, must-revalidate" />
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta property="og:title" content="Guitar Chord Checker - Accurate Chord Recording and Matching">
    <meta property="og:description" content="Chords available to users, this guitar learning application is a quick and convenient way to check the accuracy of guitar chords on the fly. Simply select a chord and record a sample, and an analysis of your recording will be outputted back to you. Founded in 2020, Guitar Chord Checker aims to help millions of guitarists refine their skills without any hassle. Its mission is to be an easily accessible tool for the everyday guitarist with just one click of a button">
    <meta property="og:image" content="https://chords-checker.herokuapp.com/static/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Chords available to users, this guitar learning application is a quick and convenient way to check the accuracy of guitar chords on the fly. Simply select a chord and record a sample, and an analysis of your recording will be outputted back to you. Founded in 2020, Guitar Chord Checker aims to help millions of guitarists refine their skills without any hassle. Its mission is to be an easily accessible tool for the everyday guitarist with just one click of a button">
    <meta name="author" content="Frontline Strategy Ltd.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet" type="text/css" />
    <link rel="icon" 
    type="image/png" 
    href="../static/img/logo.ico"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174183017-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174183017-1');
</script>


    <title>Guitar Chord Checker - Accurate Chord Matching</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner col-12">
          <div class="my-2 my-lg-0 masthead-brand text-center col-md-12 col-lg-4 col-sm-12 col-xl-4"><img src="../static/img/logo.png" style="width: 150px; height:auto;" alt=""></div>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="learn">Learn</a>
            <a class="nav-link active" href="about">About</a>
            <a class="nav-link" href="resources">Resources</a>
            <a class="nav-link" href="songs">Songs</a>
            <a class="nav-link" href="login">Login</a>
          </nav>
        </div>
      </header>

  <main role="main" class="inner cover">
    
    <h1 class="cover-heading mb-4">Guitar Chord Learning Application</h1>
    <div class="row col-12">

      <div class="col-1"></div>

      <div class="lead col-10 overflow-auto d-lg-none" style="overflow:scroll;height:300px;">
        <b>With many chords available to users, this guitar learning application is a a a quick and convenient way to check the accuracy of guitar chords on the fly. Simply select a chord and record a sample, and an analysis of your recording will be outputted back to you. Founded in 2020, Guitar Chord Checker aims to help millions of guitarists refine their skills without any hassle. Its mission is to be an easily accessible tool for the everyday guitarist with just one click of a button.</b>
      </div>
      <p class="lead col-10 d-none d-lg-block">
        <b>With many chords available to users, this guitar learning application is a quick and convenient way to check the accuracy of guitar chords on the fly. Simply select a chord and record a sample, and an analysis of your recording will be outputted back to you. Founded in 2020, Guitar Chord Checker aims to help millions of guitarists refine their skills without any hassle. Its mission is to be an easily accessible tool for the everyday guitarist with just one click of a button.</b>
      </p>
      <div class="col-1"></div>
    </div>
    <p class="lead">
      <a href="mailto:chordchecker@gmail.com" class="btn btn-primary btn-lg">Leave a message!</a>
    </p>


  </main>



  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>&copy; Avi Kabra</p>
    </div>
  </footer>
</div>
</body>
<script>

</script>
</html>
