<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public,no-cache, no-store, must-revalidate" />
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta property="og:title" content="Guitar Chord Checker - Accurate Chord Recording and Matching">
    <meta property="og:description" content="Chords available to users, this guitar learning application is a quick and convenient way to check the accuracy of guitar chords on the fly. Simply select a chord and record a sample, and an analysis of your recording will be outputted back to you. Founded in 2020, Guitar Chord Checker aims to help millions of guitarists refine their skills without any hassle. Its mission is to be an easily accessible tool for the everyday guitarist with just one click of a button">
    <meta property="og:image" content="https://chords-checker.herokuapp.com/static/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Chords available to users, this guitar learning application is a quick and convenient way to check the accuracy of guitar chords on the fly. Simply select a chord and record a sample, and an analysis of your recording will be outputted back to you. Founded in 2020, Guitar Chord Checker aims to help millions of guitarists refine their skills without any hassle. Its mission is to be an easily accessible tool for the everyday guitarist with just one click of a button">
    <meta name="author" content="Frontline Strategy Ltd.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet" type="text/css" />
    <link rel="icon" 
    type="image/png" 
    href="../static/img/logo.ico"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174183017-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174183017-1');
</script>


    <title>Guitar Chord Checker - Accurate Chord Matching</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner col-12">
          <div class="my-2 my-lg-0 masthead-brand text-center col-md-12 col-lg-4 col-sm-12 col-xl-4"><img src="../static/img/logo.png" style="width: 150px; height:auto;" alt=""></div>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="learn">Learn</a>
            <a class="nav-link" href="about">About</a>
            <a class="nav-link active" href="resources">Resources</a>
            <a class="nav-link" href="songs">Songs</a>
          </nav>
        </div>
      </header>

  <main role="main" class="inner cover">
    
    <div class="boxed" id="full"><h2 class="cover-heading mb-4 d-none d-lg-block">External Resources</h2>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4">The following are links to free websites, apps, and other features that will supplement your journey as a guitarist:</h4>
      <h4 class="cover-heading mb-4 d-none d-lg-block">Music Resources: (all free to use)</h4>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4"><a class="outsideLink" href="http://www.ultimate-guitar.com">Ultimate Guitar</a> - a site which has a strong community and numerous easy-to-play tabs (my personal favorite)</p>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4"><a class="outsideLink" href="https://www.songsterr.com">Songsterr</a> - an extremely user-friendly website with loads of tabs ranging in difficulty</p>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4"><a class="outsideLink" href="http://www.youtube.com">YouTube!</a> - surprisingly, YouTube is one of the best methods to find the scores or tabs of popular, mainstream songs (look in video descriptions)</p>
      <h4 class="cover-heading mb-4 d-none d-lg-block">Learning Applications:</h4>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4"><a class="outsideLink" href="http://www.yousician.com">Yousician</a> - an application that effectively teaches you how to play a range of instruments </p>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4"><a class="outsideLink" href="https://www.guitartricks.com">Guitar Tricks</a> - the best bet if you want an app with a comprehensive bank of lessons and songs coupled with a user-friendly platform</p>
      <h4 class="cover-heading mb-4 d-none d-lg-block">Mobile Individual Note Tuners: (all free to use)</h4>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4"><a class="outsideLink" href="https://apps.apple.com/us/app/guitartuna-guitar-bass-tuner/id527588389">Guitar Tuna</a> - my personal favorite, it has tuning ranging across different instruments and keys and a nice aesthetic</p>
      <p class="lead  mb-0 mb-lg-4 mb-xl-4"><a class="outsideLink" href="https://apps.apple.com/us/app/free-chromatic-tuner-pano-tuner/id449780743">Pano Tuner</a> - with high ratings in both the Android and iOS stores, this tuner is a quick and convenient tuner when you're on your phone</p>
    </div>  

  </main>



  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>&copy; Avi Kabra</p>
    </div>
  </footer>
</div>
</body>
<script>

</script>
</html>
